.banner{
    width:100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

 .bannerimg  {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
   .bannerimg:hover {
    transform: scale(1.06);
}

.banner .bannertext{
    position:absolute;
    top:70px;
    left: 300px;
}

