/* .bannerimg{
    background: url(../styles/banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
} */
.slider .slick-slide img{
  height: 75vh;
  width: 100%;
  object-fit: cover;
  /* background-image: url(https://angular.pixelstrap.com/multikart/assets/images/slider/1.jpg); */
  /* background-repeat: no-repeat; */
}

@media screen and (max-width: 767px) {
  .slider .slick-slide img {
    /* Adjust the positioning to move the image to the right */
    height: 50vh;
    /* left: 15%;  */
    /* transform: translateX(-50%);  */
  }
}
.slider-banner .slick-slider {
  overflow: hidden;

}
.content {
  position: absolute;

  font-weight: 900;

  /* left: 100px; */
  padding-left: 1%;
  text-transform: capitalize;
  /* color: #ff4c3b; */
}

.text-orange{
  color: #ff4c3b;
}

.text-light-grey{
  color: #777777;
}




/* Add styles for the arrows */
.slider-banner .slick-prev,
.slider-banner .slick-next {
  font-size: 20px; /* Adjust the arrow size */
  /* color: #ff0000; */
  background: transparent;
  z-index: 1;
}

.slider-banner .slick-prev {
  left: 10px; /* Adjust the left position of the left arrow */
}

.slider-banner .slick-next {
  right: 10px; /* Adjust the right position of the right arrow */
}
