.special {
  background: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 190px;
  padding-bottom: 190px;
  background-position: 50%;
}

.special span h1 {
  color: #ff5141;
}

.primary-header {
  font-size: 64px;
}
.secondary-header {
  font-size: 24px;
  letter-spacing: 0.4em;
}

@media screen and (max-width: 1200px) {
  .primary-header {
    font-size: 44px;
  }
  .secondary-header {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .primary-header {
    font-size: 22px;
  }
  .secondary-header {
    font-size: 10px;
  }
}

.mainfooter .formcontol {
  display: flex;
  justify-content: end;
}
/* 
.footer-heading{
    margin: 10px 0;
} */
.footer-heading:after {
  content: ""; /* Empty content */
  display: none; /* Ensure the line appears as a block element */
  border-bottom: 1px solid #777777; /* Add a 2px solid black line */
  position: relative;
  top: 10px;
  left: 0;
}

@media screen and (max-width: 992px) {
  .footer-heading:after {
    display: block; /* Ensure the line appears as a block element */
  }
}
